silintong/web/WEB-INF/wsdl/152.118.26.22_8080/PayBro/PayBro.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://services.pb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.pb/">

<xs:element name="payWithPayBro" type="tns:payWithPayBro" />

<xs:element name="payWithPayBroResponse" type="tns:payWithPayBroResponse" />

<xs:complexType name="payWithPayBro">
<xs:sequence>
<xs:element name="aUName" type="xs:string" minOccurs="0" />
<xs:element name="aPass" type="xs:string" minOccurs="0" />
<xs:element name="cUName" type="xs:string" minOccurs="0" />
<xs:element name="cPass" type="xs:string" minOccurs="0" />
<xs:element name="amount" type="xs:int" />
<xs:element name="description" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="payWithPayBroResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>